{% extends "posts/index.html" %}
{% load static %}

{% block contents %}
<div class="wkp-article__thearticle">
    
    <h1 class="wkp-article__title">{{ group.title }}</h1>

    
      <ul class="wkp-catlist">
    

            {% for posts in group.posts.all %}

                <li>
                    <a href="{% url 'posts:posts_page' posts.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><g fill="#4071fc"><path d="M14 0H2c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-1 14H3V2h10v12z"></path><path data-color="color-2" d="M4 3h4v4H4zM9 4h3v1H9zM9 6h3v1H9zM4 8h8v1H4zM4 10h8v1H4zM4 12h5v1H4z"></path></g></svg>
                        {{ posts.title }}</a>
                </li>

            {% endfor %}


      </ul>

  </div>
{% endblock  %}